* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;

}

h1 {
  color: #675547;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.button-geonz {
  background-color: #2d2926;
  border-color: #2d2926;
}

.button-geonz:hover {
  background-color: #817f7d;
  border-color: #2d2926;
}